* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  outline-color: #06aed5;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px 5px;
  margin-bottom: 0px;
  cursor: text;
  overflow: auto;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-bottom: 2px;
}

/* hour section style  */
.hour {
  padding: 0;
  text-align: center;
  line-height: 79px;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #d3d3d3;
  cursor: default;
}

/* background of the description area  */
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}



.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
